// Import Vuetify styling
@require '~vuetify/src/stylus/app.styl'
//@import '~vuetify/src/stylus/main'

.page
  @extend .fade-transition

footer
  padding-left: 10px

.list__tile__title a
  text-decoration: none
  color: #777

.theme--light .toolbar {
  background-color: $indigo.lighten-2
  color: white
  //background-color: $teal.lighten-4
}
.theme--light .toolbar .btn {
  color: white
}

